:root {

    --font-color: rgb(30, 55, 90);
    --border-color: rgb(135, 150, 170);
    --outline-color: rgb(250, 255, 255);
    --outline-color-hover: rgb(255, 220, 0);
    --border-color-hover: rgb(255, 250, 240);
    --outline-color-active: rgb(195, 155, 40);

    --light-primary: rgb(245, 250, 255);
    --light-secondary: rgb(240, 245, 255);
    --medium-primary: rgb(235, 240, 250);
    --medium-secondary: rgb(225, 235, 245);
    --dark-primary: rgb(210, 225, 235);
    --hover-primary: rgb(255, 230, 210);
    --hover-secondary: rgb(255, 210, 110);
    --active-primary: rgb(245, 205, 135);
    --active-secondary: rgb(245, 190, 90);

    --background-primary: rgb(240, 245, 250);
    --background-secondary: rgb(220, 230, 240); 
    
    --output-primary: rgb(230, 240, 250);

    --main-primary: rgb(160, 180, 210);
    --main-secondary: rgb(215, 230, 245);
    --main-third: rgb(186, 210, 234);

    --tab-primary: rgb(225, 230, 245);
    --tab-secondary: rgb(225, 230, 245);
    --tab-border: rgb(180, 190, 205);

    --nav-close-primary: rgb(225, 155, 140);
    --nav-close-secondary: rgb(185, 75, 50);
    --nav-close-third: rgb(210, 125, 110);
    --nav-close-border: rgb(65, 20, 35);
    --nav-close-outline: rgb(240, 205, 195);

    --nav-minimize-primary: rgb(190, 210, 230);
    --nav-minimize-secondary: rgb(155, 175, 205);
    --nav-minimize-third: rgb(220, 230, 240);


}


* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(90deg, rgb(50, 110, 225) 0%, rgb(40, 175, 230) 100%);

}

.main-container {

    padding: 1.5rem 0.8rem 0.8rem 0.8rem;
    background: linear-gradient(180deg, var(--main-primary) 0%, var(--background-secondary), var(--background-secondary) 30%, var(--main-third) 31%);
    outline: solid 0.1rem black;
    border: solid 0.1rem cyan;
    border-top-color: white;
    border-left-color: white;
    border-radius: 0.4rem;

}


#name {

    position: relative;
    bottom: 1rem;
    font-size: 1rem;

}

.nav-button {

    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 1.5rem;
    width: 2.4rem;
    left: 11.5rem;
    bottom: 1rem;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    user-select: none;
    cursor: default;

}

.nav-button:hover {

    filter: brightness(1.15);

}

#nav-close {

    outline: solid 0.1rem var(--nav-close-border);
    border: solid 0.1rem var(--nav-close-outline);
    border-radius: 0.1rem;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: #000000;
    background: linear-gradient(180deg, var(--nav-close-primary) 50%, var(--nav-close-secondary) 50%, var(--nav-close-third) 100%)

}

#nav-resize,
#nav-minimize {

    outline: solid 0.1rem black;
    border: solid 0.1rem white;
    border-radius: 0.1rem;
    background: linear-gradient(180deg, var(--nav-minimize-primary) 50%, var(--nav-minimize-secondary) 50%, var(--nav-minimize-third) 100%)

}

#tab {

    display: flex;
    align-items: center;
    height: 1.5rem;
    border: solid 0.1rem var(--outline-color);
    border-bottom-color: var(--tab-border);
    background: linear-gradient(180deg, var(--light-primary) 30%, var(--tab-primary) 35%, var(--tab-secondary) 100%);

}

#tab-button {

    height: 1.5rem;
    margin-left: 0.1rem;
    outline: solid 0.1rem transparent;
    border: solid 0.1rem transparent;
    border-radius: 0.2rem;
    color: black;
    text-decoration: none;
    user-select: none;
    cursor: default;


}

#tab-button:hover {

    outline-color: black;
    border-color: white;

}

#tab-button:active {

    border: 0;
    padding: 0.1rem;
    box-shadow: inset 0px 2px 6px -4px #000000;

}

.interior-container {

    padding: 1rem;
    background: linear-gradient(180deg, var(--background-primary) 25%, var(--background-secondary) 75%);

}

.output-container {

    min-width: inherit;
    font-family: monospace;
    text-align: right;

}

#output {

    max-width: inherit;
    margin: 0 0 0.8rem 0;
    padding: 0.5rem;
    font-size: 2rem;
    outline-style: solid;
    outline-width: 0.1rem;
    outline-color: var(--border-color);
    border: solid 0.1rem var(--outline-color);
    border-radius: 1px;
    background: linear-gradient(180deg, var(--output-primary) 0%, white 100%);

}

.input-container {

    max-width: inherit;
    display: grid;
    grid-template-columns: repeat(5, 4rem);
    gap: 0.5rem;

}

.input-cell {

    height: 3rem;
    width: 4rem;
    outline-style: solid;
    outline-width: 0.1rem;
    outline-color: var(--border-color);
    border-radius: 1px;
    color: var(--font-color);
    font-size: 1.5rem;

}

.input-cell[data-value="equal"] {

    grid-column: 5 / 6;
    grid-row: 4 / 7;
    height: 10rem;

}

.input-cell[data-value="0"] {

    grid-column: 1 / 3;
    width: 8.5rem;

}

.input-cell:hover {

    background: linear-gradient(180deg, var(--hover-primary) 50%, var(--hover-secondary) 50%);
    outline-color: var(--outline-color-hover);
    border: solid 0.1rem;
    border-color: var(--border-color-hover);
    box-shadow: inset 0px -1rem 1rem -1rem var(--border-color-hover);

}

.input-cell:active {

    background: linear-gradient(180deg, var(--active-primary) 50%, var(--active-secondary) 50%);
    /*filter: brightness(95%);*/
    outline-color: var(--outline-color-active);
    border: 0;
    box-shadow: inset 0px -1rem 1rem -1rem var(--border-color-hover);

}

.input-cell-light {

    border: 0;
    background: linear-gradient(180deg, var(--light-primary) 50%, var(--light-secondary) 50%);

}

.input-cell-medium {

    border: solid 0.1rem var(--outline-color);
    background: linear-gradient(180deg, var(--medium-primary) 50%, var(--medium-secondary) 50%);

}

.input-cell-dark {

    border: solid 0.1rem var(--outline-color);
    background-color: var(--dark-primary);

}